{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/homepage_styles.css' %}" />
{% endblock styles %}


{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" id="list_rubrics">
            <h3>Выбрать рубрику:</h3>
            <select class="form-control" id="selectCategory" onchange="selectCategory()">
                <option value="all">Все рубрики</option>
                {% for category in categories %}
                <option value="{{ category.id }}" id="rubric_{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <hr>
            <h3>Найти товар:</h3>
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Search.." name="search_text" id="searchSymbols">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" onclick="searchProduct()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-8 text-left">
            <div class="container">
                <p class="lead">Cортировка</p>
                <select class="form-control" id="selectSorting" onchange="selectSorting()">
                    <option value="default">По популярности</option>
                    <option value="price_asc">Дешевые сверху</option>
                    <option value="price_desc">Дорогие сверху</option>
                    <option value="top_rating">Высокий рейтинг по отзывым</option>
                    <option value="many_reviews">Много отзывов</option>
                </select>
                <hr>
                {% if category %}
                <h2>Выбранная категория: {{ category }}</h2>
                {% endif %}
                {% if sorting_type %}
                <h3>Отсортировано {{ sorting_type }}</h3>
                {% endif %}
                {% if search_text %}
                <h3><b>Поиск</b>: <i>{{ search_text }}</i></h3>
                {% endif %}
                <hr>
                <div class="row">
                    {% for product in page_obj %}
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="lead" align="center"><a href="{% url 'product_details' product.pk %}">{{ product.name }}</a></p>
                            </div>
                            <div class="panel-body" id="product_image">
                                  <div id="carousel_{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
                                      <div class="carousel-inner">
                                          {% for image_product in product.imageproduct_set.all %}

                                          {% if forloop.first %}
                                            <div class="item active">
                                              <img src="{{ image_product.image.url }}" alt="{{ product.title }}" width="240px" height="210px" class="img-thumbnail">
                                            </div>
                                          {% else %}
                                            <div class="item">
                                              <img src="{{ image_product.image.url }}" alt="{{ product.title }}" width="240px" height="210px" class="img-thumbnail">
                                            </div>
                                          {% endif %}

                                          {% endfor %}
                                      </div>
                                      <a class="left carousel-control" href="#carousel_{{ forloop.counter }}" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Предыдущий</span>
                                      </a>
                                      <a class="right carousel-control" href="#carousel_{{ forloop.counter }}" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                      </a>
                                    </div>
                            </div>

                            <div class="panel-footer">
                                <p>Цена: {{ product.price }}</p>
                                <p>Бренд: {{ product.brand }}</p>
                                {% if product.avg_rating == -1 %}
                                <p>Оценок нет</p>
                                {% else %}
                                <p>Рейтинг: <abbr title="Количество отзывов: {{ product.comments.count }}">{{ product.avg_rating }}</abbr></p>
                                {% endif %}
                                <form method="POST" action="{% url 'add_product_to_basket' %}" id="add_product_to_basket">
                                    {% csrf_token %}
                                    <button type="submit" id="add_to_cart">
                                        Положить в корзину<span class="glyphicon glyphicon-shopping-cart"></span>
                                    </button>
                                    <input type="hidden" name="product_id_to_basket" value="{{ product.id }}" id="product_id_to_basket">
                                    <input type="hidden" id="number" value="1" name="number">
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><br>
            <div class="pagination" align="center">
                <span class="step-links">
                    <span class="current">
                        <code>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</code>
                    </span>
                    <br>
                    {% if page_obj.has_previous %}
                        <button class="btn btn-success" onclick="changePageNumber(1)">&laquo; first</button>
                        <button class="btn btn-success" onclick="changePageNumber({{ page_obj.previous_page_number }})">previous</button>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <button class="btn btn-success" onclick="changePageNumber({{ page_obj.next_page_number }})">next</button>
                        <button class="btn btn-success" onclick="changePageNumber({{ page_obj.paginator.num_pages }})">last &raquo;</button>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/add_product_to_basket.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filtration_products.js' %}"></script>
{% endblock scripts %}